<h1>Admin Page</h1>
<div ng-controller="AdminController" class="row">
	<section class="col-sm-9">
		
		<form>
			<fieldset>
				<legend>
					Devices
				</legend>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Device Id</th>
							<th>Device Type</th>
							<th>Provider Id</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="device in devices">
							<td>{{device.id}}</td>
							<td>{{device.deviceUID}}</td>
							<td>{{device.deviceType}}</td>
							<td>{{device.providerId}}</td>
						</tr>
					</tbody>
					</table>
			</fieldset>
		</form>
	</section>
</div>