<div class="row">
	
	<div class="col-lg-6">
		<div class="well bs-component live-less-editor-hovercontainer">
			<form id="loginForm" name="loginForm" ng-submit="login(loginForm)" class="form-horizontal">
				<fieldset>
					<legend>Login</legend>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input ng-model="user.email" type="text" class="form-control" id="inputEmail" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-10">
							<input ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
							<!--<div class="checkbox">
								<label>
									<input type="checkbox"> Remember me
								</label>
							</div>-->
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-warning pull-right">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
	</div>
</div>