<div class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<a href="/" target="_top" class="navbar-brand">Edge Studios</a>
		</div>
		<ul class="nav navbar-nav">
			<li ng-if="isAuthorized(['ADMIN'])"><a href="/admin">Admin</a></li>
			<li ng-if="isAuthorized(['PROVIDER'])"><a href="/provider">Provider</a></li>
			<li ng-if="isAuthorized(['PATIENT'])"><a href="/patient">Patient</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li ng-show="isAuthenticated()"><a href="#" ng-click="resolveUserPage()">Hello, {{user.webUser.name}}</a></li>
			<li ng-hide="isAuthenticated()"><a href="/login">Log in</a></li>
			<li ng-show="isAuthenticated()"><a href="#" ng-click="logOut()">Log out</a></li>
		</ul>
	</div>
</div>