<div ng-controller="PatientController" class="row">
	<section class="col-sm-3">		
		<form>
			<fieldset>
				<legend>
					Patient Info
				</legend>
				<div class="panel panel-default">
					<div class="panel-heading">Patient</div>
					<div class="panel-body">
						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">First Name</div>
									<div class="panel-body">
										{{patient.firstName}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Last Name</div>
									<div class="panel-body">
										{{patient.lastName}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Phone #</div>
									<div class="panel-body">
										{{patient.phone}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Email</div>
									<div class="panel-body">
										{{patient.email}}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Provider Info</div>
					<div class="panel-body">
						<p>{{provider.lastName}}, {{provider.firstName}}</p>
						<p>{{provider.email}}</p>
						<p>{{provider.phone}}</p>
					</div> 
				</div>
			</fieldset>
		</form>
	</section>
	<section class="col-sm-9">
		
		<form>
			<fieldset>
				<legend>
					Devices
				</legend>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Device Id</th>
							<th>Device Type</th>
						</tr>
					</thead>
					<tbody  ng-repeat="device in devices">
						<tr>
							<td>{{device.id}}</td>
							<td>{{device.deviceUID}}</td>
							<td>{{device.deviceType}}</td>
						</tr>
						<tr>
							<table class="table">
  							<caption>Patient data for this device</caption>
							<thead>
								<tr>
									<th>&#x25cf;</th>
									<th>Data Type</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody  >
								<tr ng-repeat="data in deviceData">
									<td>&#x25cf;</td>
									<td>{{data.dataType}}</td>
									<td>{{data.value}}</td>
								</tr>
								<tr>
									
								</tr>
							</tbody>
							</table>
						</tr>
					</tbody>
					</table>
			</fieldset>
		</form>
	</section>
</div>


