<div ng-controller="ProviderController" class="row">
	<section class="col-sm-3">		
		<form>
			<fieldset>
				<legend>
					Provider Info
				</legend>
				<div class="panel panel-default">
					<div class="panel-heading">Provider</div>
					<div class="panel-body">
						<!-- List group -->
						<ul class="list-group">
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">First Name</div>
									<div class="panel-body">
										{{provider.firstName}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Last Name</div>
									<div class="panel-body">
										{{provider.lastName}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Phone #</div>
									<div class="panel-body">
										{{provider.phone}}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="panel panel-default">
									<div class="panel-heading">Email</div>
									<div class="panel-body">
										{{provider.email}}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</fieldset>
		</form>
	</section>
	<section class="col-sm-9">
		
		<form>
			<fieldset>
				<legend>
					Devices
				</legend>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Device Id</th>
							<th>Device Type</th>
						</tr>
					</thead>
					<tbody  ng-repeat="device in devices">
						<tr>
							<td>{{device.id}}</td>
							<td>{{device.deviceUID}}</td>
							<td>{{device.deviceType}}</td>
						</tr>
					</tbody>
					</table>
			</fieldset>
		</form>
	</section>
</div>


