.hero-unit {
    background-image:url('http://www.cymedicaortho.com/images/hero/hero-5.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:300px;
  
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
   
}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

 .full {
  width: 100%;
  
  
}

.ui-grid-header-cell-wrapper {
 height: inherit; 
}